logging:
  level:
    root: INFO
    com.michaelgiuliano.techevents: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/techevents_dev}
    username: ${DB_USERNAME:devuser}
    password: ${DB_PASSWORD:devpass}